.content{
	margin:0 auto;
	width:90%;
	height:100%;
	background-color:white;
	font-family: 'Verdana';
		}
.logo{
	width:20%;
	float:left;
	padding-top:7px;
	}		
.header{
	width:80%;
	float:left;
	font-size:52px;
	padding-top:7px;
	text-align:center;
	color:#A2C3A6;
	margin-bottom:30px;
	}
.back a{
	color: #00897B;
	text-decoration:none;
	font-size: 20px;
	text-align:center;
	position:fixed;
	right:1%;
	bottom:7%;
}
.wiecej a{
	color: #00897B;
	text-decoration:none;
	font-size: 20px;
	text-align:center;
	position:fixed;
	right:1%;
	bottom:1%;
}
.gallery img{
	transition:1s;
	}
.gallery img:hover{
	transform:scale(1.1);
	}
.muzyka{
	margin-bottom:60px;
}
.footer{
	color:#A2C3A6;
	font-size:19px;
	text-align:left;
	clear:both;
	margin-top:60px;
	}
.more{
	font-family: 'Verdana';
	text-align:center;
	color:#00897B;
	font-size:20px;
	}
.mapa{
	width:90%;
	height:450px; 
	border:0;
}
.spacer iframe{
	width:90%;
	height:300px;
}
{box-sizing: border-box}
.navbar {
	width:100%;
	background-color: #00695c;
	overflow: auto;
}
.navbar a {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #A2C3A6;
	text-decoration: none;
	font-size: 20px;
	width: 30%;
}
.navbar a:hover {
	background-color: #004D40
}
.navbar a.active {
	background-color: #00897B;
}
.bold{
	font-weight:bold;
}
.zabytkii{
	padding-top:30px;
}
.gallery, .spacer{
	padding-bottom:30px;
}

h1{
	float:left;
	color:#A2C3A6;
	font-size:36px;
	font-weight:normal;
	padding-top:20px;
	width:100%;
	}
h3{
	text-align:left;
	color:#A2C3A6;
	font-size:23px;
	text-decoration:underline;
	}
p, ul, ol, table{
	font-size:20px;
	color:#00695c;
	text-align:left;
	}
ul{
	list-style-type:circle;
}
ol{
	list-style-type:upper-latin;
}
table{
	border-color:#A2C3A6;
}
td{
	border-style:dotted;
	padding:4px;
	}
@media screen and (min-width:1024px) {
	.navbar a {
		float:left;
		width: 100%;
		margin-bottom:5px;
	}
	.navbar {
		width:22%;
		float:left;
		height:393px;
		position:fixed;
		top:200px;
	}
	.monuments, .center{
		float:left;
		margin-left:27%;
		width:68%;
	}
	.mapa{
	margin-left:27%;
	width:68%;
	height:450px;  
	border:0;
	}
	.gallery{
		width:650px;
		
	}
	.footer{
		margin-left:27%;
	}
	h3{
		margin-top:0;
	}
	.zabytkii{
		padding-top:0px;
}
}


@media screen and (max-width:1024px) {
	.monuments, .center{
			width:87%;
			float:left;
	}
	.navbar a{
		width:50%;
	}
	.gallery img{
		padding:20px;
		margin-left:40px;
	}
}

@media screen and (max-width:720px) {
	.navbar a {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
		}
	.monuments, .center{
		width:87%;
		float:left;
		}
	h1{
		margin-top:0;
		}
	.gallery{
		padding-top:30px;
		}
	.gallery img{
		padding:0px;
		margin-left:0px;
	}
	table{
		width:87%;
		font-size:20px;
	}
}
