.content{
	margin:0 auto;
	width:90%;
	height:100%;
	background-color:white;
	font-family: 'Verdana';
		}
	.logo{
		width:20%;
		float:left;
		padding-top:7px;
	}		
	.header{
		width:80%;
		float:left;
		font-size:52px;
		padding-top:7px;
		text-align:center;
		color:#A2C3A6;
	}
	.general{
		float:left;
		font-size:21px;
		margin-top:30px;
		margin-bottom:30px;
		text-align:center;
		color:#00695c;
	}
	h1,h2,h3{
		color:#A2C3A6;
		font-size:23px;
	}
	p{
		font-size:19px;
		color:#00695c;
	}
	* {box-sizing: border-box}

	/* Style the tab */
	.tab {
	  float: left;
	  border: 1px solid #ccc;
	  background-color: #00695c;
	  width: 30%;
	  height: 300px;
	}

	/* Style the buttons inside the tab */
	.tab button {
	  display: block;
	  background-color: inherit;
	  color: #A2C3A6;
	  padding: 22px 16px;
	  width: 100%;
	  border: none;
	  outline: none;
	  text-align: left;
	  cursor: pointer;
	  transition: 0.3s;
	  font-size: 21px;
	  font-weight:bold;
	}

	/* Change background color of buttons on hover */
	.tab button:hover {
	  background-color: #004D40
	}

	/* Create an active/current "tab button" class */
	.tab button.active {
	  background-color: #00897B;
	}

	/* Style the tab content */
	.tabcontent {
	  float: left;
	  padding: 0px 12px;
	  border: 1px dotted #00897B;
	  width: 70%;
	  border-left: none;
	  height: 300px;
	}
@media screen and (min-width:1024px) {
	.general{
		color:pink;
	}
}
@media screen and (max-width:1024px) {
	.general{
		color:red;
	}
}
@media screen and (max-width:720px) {
.general{
		color:blue;
	}
}
@media screen and (max-width:320px) {
.general{
		color:yellow;
	}
}