.content{
	margin:0 auto;
	width:90%;
	height:100%;
	background-color:white;
	font-family: 'Verdana';
		}
	.logo{
		width:20%;
		float:left;
		padding-top:7px;
	}		
	.header{
		width:80%;
		float:left;
		font-size:52px;
		padding-top:7px;
		text-align:center;
		color:#A2C3A6;
		margin-bottom:30px;
	}
	.general{
		float:left;
		font-size:21px;
		margin-top:30px;
		margin-bottom:30px;
		text-align:center;
		color:#00695c;
	}
	h1,h2,h3{
		color:#A2C3A6;
		font-size:23px;
	}
	p{
		font-size:20px;
		color:#00695c;
	}
 {box-sizing: border-box}

.navbar {
  width:100%;
  background-color: #00695c;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #A2C3A6;
  text-decoration: none;
  font-size: 20px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #004D40
}

.navbar a.active {
  background-color: #00897B;
}

@media screen and (min-width:1024px) {

}

@media screen and (max-width:1024px) {

}

@media screen and (max-width:720px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width:320px) {

}